# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\spring_with_maven\katana\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
